/* PAGE */

.register-page{
min-height:100vh;
display:flex;
align-items:center;
justify-content:center;
background:#F9FAFB;
padding:20px;
}

/* CARD */

.register-card{
width:420px;
background:white;
padding:40px;
border-radius:16px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

animation:fadeIn .4s ease;
}

/* TITLE */

.register-card h2{
font-size:28px;
margin-bottom:8px;
color:#111827;
}

.subtitle{
font-size:15px;
color:#6B7280;
margin-bottom:25px;
}

/* INPUTS */

.register-card input{
width:100%;
padding:12px;
margin-bottom:15px;

border-radius:10px;

border:1px solid #E5E7EB;

font-size:14px;

transition:.25s;
}

.register-card input:focus{
outline:none;
border-color:#6366F1;
box-shadow:0 0 0 3px rgba(99,102,241,0.15);
}

/* BUTTON */

.register-btn{
width:100%;
padding:12px;

background:#6366F1;

border:none;

border-radius:10px;

color:white;

font-weight:600;

cursor:pointer;

transition:.25s;
}

.register-btn:hover{
background:#4F46E5;
}

/* LOGIN LINK */

.bottom-text{
margin-top:20px;
text-align:center;
font-size:14px;
color:#6B7280;
}

.bottom-text span{
color:#6366F1;
font-weight:600;
cursor:pointer;
}

.bottom-text span:hover{
text-decoration:underline;
}

/* ANIMATION */

@keyframes fadeIn{
from{
opacity:0;
transform:translateY(10px);
}
to{
opacity:1;
transform:translateY(0);
}
}